<?xml version="1.0" encoding="UTF-8"?>

<!-- Define the variables in "$(var.*) expressions" -->
<?define Name = ".NET Joke Service2" ?>
<?define Manufacturer = "Microsoft" ?>
<?define Version = "1.1.0.0" ?>
<?define UpgradeCode = "9ED3FF33-8718-444E-B44B-69A2344B7E98" ?>
<?define ServiceName = "Joke 3" ?>
<?define ProjectDir = "..\MicrosoftTutorial" ?>
<?define ExecutableName = "MicrosoftTutorial.exe" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:Util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Package Name="$(Name)"
             Manufacturer="$(Manufacturer)"
             Version="$(Version)"
             UpgradeCode="$(var.UpgradeCode)"
             Compressed="true">

		<!-- Allow upgrades and prevent downgrades -->
		<MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
		<Media Id='1' Cabinet='cab1.cab' EmbedCab='yes' />

		<!-- Define the directory structure -->
		<!--<Directory Id="TARGETDIR" Name="SourceDir">-->
		<StandardDirectory Id="ProgramFiles64Folder">

			<!-- Create a folder inside program files -->
			<Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">

				<!-- Create a folder within the parent folder given the name -->
				<Directory Id="INSTALLFOLDER" Name="$(Name)" />
			</Directory>
		</StandardDirectory>
		<!--</Directory>-->

		<!-- The files inside this DirectoryRef are linked to
             the MicrosoftTutorial directory via INSTALLFOLDER -->
		<DirectoryRef Id="INSTALLFOLDER">

			<!-- Create a single component which is the MicrosoftTutorial.exe file -->
			<Component Id="ServiceExecutable" Bitness="always64">

				<!-- Copies the MicrosoftTutorial.exe file using the
                     project reference preprocessor variables -->
				<File Id="Executable"
                      Source="$(var.ProjectDir)\bin\Release\net8.0\win-x64\publish\$(var.ExecutableName)"
                      KeyPath="true" />

				<!-- Remove all files from the INSTALLFOLDER on uninstall -->
				<RemoveFile Id="ALLFILES" Name="*.*" On="both" />

				<!-- Tell WiX to install the Service -->
				<ServiceInstall Id="ServiceInstaller"
                                Type="ownProcess"
                                Name="$(ServiceName)"
                                DisplayName="$(Name)"
                                Description="!(loc.ServiceDescription)"
                                Start="auto"
                                ErrorControl="normal" />

				<!-- Tell WiX to start the Service -->
				<ServiceControl Id="StartService"
                                Start="install"
                                Stop="both"
                                Remove="uninstall"
                                Name="$(ServiceName)"
                                Wait="true" />

				<!-- Tell WiX how to configure the Service -->
				<Util:ServiceConfig
                                FirstFailureActionType="restart"
                                SecondFailureActionType="restart"
                                ThirdFailureActionType="restart"
                                ResetPeriodInDays="1"
                                RestartServiceDelayInSeconds="60"
                                ServiceName="$(ServiceName)" />

			</Component>
		</DirectoryRef>

		<!-- Tell WiX to install the files -->
		<Feature Id="Service" Title="MicrosoftTutorial Setup" Level="1">
			<ComponentRef Id="ServiceExecutable" />
		</Feature>

	</Package>
</Wix>
